*{
    padding: 0;
    margin: 0;
    font-family: Quicksand-Regular;
    box-sizing: border-box;
}
.container{
    width: 100%;
    padding:0 15px;
    margin: 0 auto;
}
/* Fonts */
@font-face {
    font-family: "Quicksand-Regular";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

/*responsive*/
@media (min-width:576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}


.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}

.box{
    background: white;
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    padding: 50px;
}
.heading{
    margin-bottom: 50px;
    color:rgb(68, 68, 68);
    text-align: center;
    font-size: x-large; 
    font-weight: bold;
}
.heading-small{
    margin-bottom: 10px;
    color:rgb(68, 68, 68);
    font-weight: bold;
    font-size: 1.4rem;
}

.button{
    border-radius: 5px;
    padding:10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    background-color: #00d09c;
    border:2px solid white;
    font-size: 16px;
    margin: 10px;
}

.button:hover{
      border-radius: 5px;
    padding:10px 30px 10px 30px;
    color: white;
    font-weight: bold;
    background-color: #00e7ad;
    border:2px solid white;
    font-size: 16px;
    margin: 10px;
}

.flex{
    display: flex;
    flex: 1;
}

.outer-div{
    margin-left: 40px;
}
.outer-div div{
    margin-right: 100px;
}

.outer-div input{
    margin-right: 100px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
}
td{
  text-align: left;
  padding: 8px;
}

tr{
    border: 1px solid #dddddd;
  border-radius: 5px;
}
.table-heading{
    color:#858585;
    font-size: 1rem;;
}
.fund-logo{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    height:35px;
    margin-right: 10px;
}
.text-result{
     font-weight:bold;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
}

.result{
     margin: 10px;
}


table tr td:not(:first-child) input {
    background-color: #e5faf5;
    border: 1px;
    padding: 5px;
    border-radius: 4px;;
}

table tr td:first-child input {
    background-color: white;
    border: 0px;
}